.hook-panel {
  padding: 2px 0 2px 0;
}
.hook-panel-inner {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dde;
  padding: 4px;
  border: solid #888 1px;
  border-radius: 4px;
  position: relative;
}
.hook-panel-inner .component-label {
  color: #555;
  margin-bottom: 2px;
}

.hook-panel-inner .hook-stage::before {
  content: '-';
}
.hook-panel-inner .hook-stage[data-is-highlighted='false'] {
  background-color: inherit;
  transition: background-color 0.3s;
}
.hook-panel-inner .hook-stage[data-is-highlighted='true'] {
  background-color: yellow;
}
