.hook-panel {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 13px;
  align-self: flex-start; /* to prevent stretching when parent is flex */
  display: inline-flex; /* inline to prevent stretching when parent is not flex */
  min-width: 250px;
  flex-direction: column;
  background-color: #dde;
  border: solid #666 1px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hook-panel .component-label {
  color: #fff;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hook-panel .props {
  border-top: solid 1px #666;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.hook-panel .prop-key {
  font-weight: bolder;
  margin-right: 2px;
}
.hook-panel .prop-value {
  margin-left: 2px;
}

.hook-panel .trace-origins {
  border-top: solid 1px #666;
  padding-top: 2px;
  padding-bottom: 2px;
}
.hook-panel .trace-origins > * {
  padding-left: 4px;
  padding-right: 4px;
}

.hook-panel .trace-origin[data-is-highlighted='false'] {
  background-color: inherit;
  transition: background-color 0.05s;
}
.hook-panel .trace-origin[data-is-highlighted='true'] {
  background-color: yellow;
}

.hook-panel .origin-type::before {
  content: '-';
  padding-right: 1px;
  font-style: italic;
}
.hook-panel .origin-type {
  font-style: italic;
}
