.trace-log {
  font-family: system-ui, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: 4px 8px 4px 8px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 500px;
  color: #000;
}

.trace-log .header {
  user-select: none;
  margin-bottom: 2px;
}

.trace-log .controls {
  display: flex;
  line-height: 22px;
  user-select: none;
}
.trace-log .title {
  font-size: 140%;
  font-weight: 600;
}
.trace-log .spacer {
  flex-grow: 1;
}
.trace-log .buttons {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
}
