# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/apps/*/node_modules
/packages/*/node_modules

# https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

# No Zero-Installs, so ignore .pnp.* & leave out !.yarn/cache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# production
/packages/react-hook-tracer/dist
/apps/react-hook-tracer-demo/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
