.demo {
  display: flex;
}

.user-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.user-list > .trace-panel {
  width: 300px; /* Override trace-panel width */
}

.user-list-details {
  display: flex;
  padding-top: 2px;
  padding-left: 1px;
}
.placeholder {
  padding-top: 15px;
  padding-left: 80px;
  font-style: italic;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.user {
  display: flex;
  flex-direction: column;
}
.user {
  margin-top: 8px;
}

.user-details {
  display: flex;
  padding-top: 2px;
  padding-left: 1px;
}

.spacer {
  flex-grow: 1;
}
