.demo {
  display: flex;
}

.user-list-wrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 2px 6px 4px 6px;
  background-color: #ddd;
  border-radius: 10px;
}
.user-list-wrapper > * > .trace-panel {
  width: 284px; /* Override trace-panel width */
}

.user-list {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-left: 1px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.placeholder {
  font-size: 120%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-style: italic;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  padding: 2px 6px 2px 6px;
  background-color: #eee;
  border-radius: 10px;
}
.user-wrapper > .trace-panel {
  min-width: 200px; /* Override trace-panel min-width */
}

.user {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-left: 1px;
  margin-bottom: 4px;
  min-width: 100px;
}

.details-header {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 2px;
}

.button-row {
  display: flex;
  margin-top: 2px;
}

.wrapping-row {
  display: flex;
  flex-wrap: wrap;
}
