.app {
  flex-grow: 1;
  display: flex;
}

.app .demo-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.app .trace-log {
  min-width: 460px; /* Override trace-log min-width */
}

.demo-pane-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  white-space: nowrap;
}

.demo-pane-header .label {
  font-weight: bold;
  margin-right: 3px;
}

.demo-pane-header select {
  margin-right: 10px;
}

.demo-pane-header .github-link {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: 6px;
}

.demo-pane-header .github-link svg {
  position: relative;
  top: 5px;
  margin-right: 2px;
}

.column {
  display: flex;
  flex-direction: column;
}
