.app {
  flex-grow: 1;
  display: flex;
}

.app .demo-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.demo-pane-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  white-space: nowrap;
}

.demo-pane-header .controls {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.demo-pane-header .label {
  font-weight: bold;
  margin-right: 3px;
}

.demo-selector {
  display: flex;
  align-items: baseline;
  margin-right: 12px;
  flex-shrink: 0;
}

.labeled-input {
  margin-right: 10px;
  flex-shrink: 0;
}

.labeled-input input {
  margin-left: 0;
}

.demo-pane-header .github-link {
  display: flex;
  padding-top: 3px;
  margin-left: auto;
  margin-right: 6px;
}

.demo-pane-header .github-logo {
  margin-right: 3px;
}

.column {
  display: flex;
  flex-direction: column;
}

.svg-icon::before {
  content: '\200B';
}
.svg-icon {
  display: inline-flex;
  align-items: center;
}
.svg-icon svg {
  margin-bottom: 0.5px;
}
